.foto {
	width:100px;
	height:100px;
	object-fit:cover;
	cursor:move;
}

ul.ed-menu.s-horizontal.nav-bar {
	background:#593959;
}

ul.ed-menu.s-horizontal.nav-bar a {
	color: white;
}

.foto.over {
	border:2px dashed #55D6BE;
}

.one {
	width:100px;
  height:30vh;
  object-fit:cover;
}
/*Aquí se define el ancho del contener de nuevas imagenes*/
#content-box {
	border:2px dotted #2E5EAA;
	/* width:max-content;*/
  /* height:auto; */
  width: 305px;
  height: 30vh;
}

a {
  color: white;
}