
.contenido{
  max-width: 600px;
  margin: auto;
}

.mainImage{
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 0;
  background: gray;
  width: 200px;
  margin: auto;
}

.mainImage img{
  padding: 1px;
}

.foto{
  height: 30%;
  width: 30%;
  padding: 5px;
}

.fotoMarco{
  background: #0099CC;
}


imgLike{
  padding: 10px;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}